<ion-view view-title="Forgetting Something?">
<!-- this page is for if the user knows they are forgetting something but remember they mind find it here. -->           
  <ion-content>
     Sometimes we know we are forgetting something but just cant remember what is. So here is a helful list of the most common things we forget.
      
      <!-- I used a list to create the list of things most forgotten-->
    <ion-list>
      
             
  <ion-item>
    1. Ruturn Phonecall
        </ion-item>
  <ion-item >
    2. Reply to an e-mail
  </ion-item>
        <ion-item >
    3. Children???
  </ion-item>
        <ion-item >
    4. Send birthday card
  </ion-item>
        <ion-item >
    5. Charge phone
  </ion-item>
        <ion-item >
    6. Take meat out of the freezer
  </ion-item>
        <ion-item >
    7. Water plants
  </ion-item>
        <ion-item >
    8. Take bins out
  </ion-item>
        <ion-item >
    9. Bring in the washing
  </ion-item>
        <ion-item >
    10. Record tv shows
  </ion-item>
        <ion-item >
    11. House/car keys
  </ion-item>
        <ion-item >
    12. Turn on/off alarm
  </ion-item>
        <ion-item >
    13. Wallet
  </ion-item>
        <ion-item >
    14. Flight tickets
  </ion-item>
        <ion-item >
    15. Passport
  </ion-item>
        <ion-item >
    16. Camera
  </ion-item>
        <ion-item >
    17. New electrical appliance
  </ion-item>
        <ion-item >
    18. Jacket
  </ion-item>
        <ion-item >
    19. Laptop
  </ion-item>
        <ion-item >
    20. Food
  </ion-item>
</ion-list>
  </ion-content>
</ion-view>
