<!--This page is where the name, and icons etc are set for the app and tabs.-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!--  Tab one -->
  <ion-tab title="To Do List" icon-off="ion-android-menu" icon-on="ion-android-menu" href="#/tab/one">
    <ion-nav-view name="tab-one"></ion-nav-view>
  </ion-tab>

  <!-- Tab two -->
  <ion-tab title="Add To List" icon-off="ion-ios-plus" icon-on="ion-ios-plus" href="#/tab/two">
    <ion-nav-view name="tab-two"></ion-nav-view>
  </ion-tab>

  <!-- Tab three -->
  <ion-tab title="Forgetting Something?" icon-off="ion-help" icon-on="ion-help" href="#/tab/three">
    <ion-nav-view name="tab-three"></ion-nav-view>
  </ion-tab>


</ion-tabs>
